@import "tailwindcss";

@plugin 'tailwind-scrollbar'{
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
};

@utility container {
    margin-inline: auto;
}

html {
  scroll-behavior: smooth; /* This makes all native link clicks smooth */
}

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

::selection {
  background: #cceaf2;
  color: rgb(0, 200, 255);
  text-shadow: none;
}

::-moz-selection {
  background: #cceaf2;
  color: rgb(0, 200, 255);
  text-shadow: none;
}

