@import "tailwindcss";

@utility container {
    margin-inline: auto;
}

html {
  scroll-behavior: smooth; /* This makes all native link clicks smooth */
}

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}